<div class="register-container">
  <form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit()">
    <h2 class="register-title">Register</h2>
    <app-alert></app-alert>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Enter your email"
      />
      <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="error">
        Please enter a valid email.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched" class="error">
        Password is required.
      </div>
    </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          placeholder="Enter your first name"
        />
        <div *ngIf="registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched" class="error">
          FirstName is required.
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          placeholder="Enter your last name"
        />
        <div *ngIf="registerForm.controls['lastName'].invalid && registerForm.controls['lastName'].touched" class="error">
          LastName is required.
        </div>
      </div>
    <button type="submit" class="register-button" [disabled]="registerForm.invalid">Register</button>
    <p class="signin-prompt">
      You have an account? <a routerLink="/login">Sign in</a>
    </p>
  </form>
</div>
